body {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    float: left;
}

.logo {
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
}

@keyframes rotate {
    from {
        transform: scale(0.9);
    }
    50% {
        transform: rotate(-50deg);
    }
    60% {
        transform: scale(1.05);
    }
    75% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.logo:hover .hex {
    animation: rotate 0.85s ease-out;
}

.logo-white {
    vertical-align: text-top;
}

.logo-green {
    color: #18cfab;
    font-weight: bold;
    vertical-align: text-top;
}

.hex {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 6px;
}

.top-menu {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.top-menu li {
    margin: 0 12px;
}

.top-menu a {
    display: flex;
    line-height: 120px;
    height: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.top-menu a:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
    transition: 0.3s;
}

.search {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    position: relative;
}

.search i {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

.search input {
    border: 0;
    width: 0;
    background: transparent;
    transition: 0.2s;
}

.search input:focus {
    position: absolute;
    top: 23px;
    left: 72px;
    width: 100px;
    height: 24px;
    background-color: #c4c0c0;
    z-index: 4;
}

.image-section {
    min-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-section {
    background-image: url(../images/Sections-background/section-1header.jpg);
    background-attachment: fixed;
}

.background-container {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 78px;
    padding: 380px 0 380px 0;
}

.button-container button {
    color: #ffffff;
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px -5px #ffffff;
}

.button-container button:hover {
    box-shadow: 3px -5px #ffffff;
    position: relative;
    left: -3px;
    transition: 0.3s;
}

.btn-green {
    background-color: #18cfab;
}

.btn-blue {
    background-color: #00cbf6;
}

.background-container a {
    color: #18cfab;
    text-decoration: none;
}

.background-container a:hover {
    color: #f8fcfe;
    transition: 0.5s;
}

.slogan {
    font-size: 78px;
}

.just-buy {
    font-size: 34px;
    text-transform: capitalize;
    font-weight: normal;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    align-items: center;
}

.green-square {
    background-color: #1c2a33;
    height: 377px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
}

.green-square:nth-child(1) {
    background-image: url(../images/hand.png);
}

.green-square:nth-child(2) {
    background-image: url(../images/diamond.png);
}

.green-square:nth-child(3) {
    background-image: url(../images/bulb.png);
}

.green-square:nth-child(4) {
    background-image: url(../images/union.png);
}

.green-square:nth-child(2n) {
    background-color: #18cfab;
}

.green-square a {
    display: block;
    height: 100%;
    color: #18cfab;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 550px;
    font-weight: bold;
    text-align: center;
    transition: 1s;
}

.green-square:nth-child(2n) a {
    color: #ffffff;
}

.green-square:hover a {
    color: #aeaeae;
    transform: scale(1.01);
}

.content {
    width: 1200px;
    margin: 85px auto;
}

.content h2 {
    font-size: 36px;
    font-weight: normal;
    color: #4e4e4e;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 85px;
    padding-top: 70px;
}

h2::after {
    content: "";
    display: block;
    margin: 24px auto;
    height: 3px;
    width: 80px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    transform: skew(65deg, 0deg);
}


/* -----Our Service---- */

.centered-content {
    width: 1160px;
    margin: 0 auto;
    text-align: justify;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tabs-title {
    text-align: center;
    padding: 25px;
    font-size: 16px;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    cursor: pointer;
    margin-bottom: 28px;
}

.tabs-title.active {
    background-color: #18cfab;
    color: #ffffff;
    position: relative;
}

.tabs-title:hover {
    border: 1px solid #18cfab;
    transition: 0.5s;
}

.text-content .tabs-title.active::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    top: 100%;
    left: 45%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[data-hidden="true"] {
    display: none;
}

[data-hidden="false"] {
    display: block;
    animation: fadeIn 0.5s;
}

.centre-section {
    background-image: url(../images/Sections-background/section-2.jpg);
    background-size: 120%;
    background-position: center;
    position: relative;
    z-index: 1;
}

.centre-section::before {
    content: "";
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.centre-section a {
    font-size: 40px;
}

.centre-section .just-buy {
    font-size: 16px;
}

.centre-section .background-container {
    padding: 125px 0 125px 0;
    z-index: 3;
}

.service-image {
    float: left;
    width: 192px;
    height: 139px;
    margin-right: 15px;
}


/* -----Our Work----- */

.work-example {
    background-color: #e9edef;
    padding-bottom: 70px;
}

.our-work-nav {
    display: flex;
    justify-content: center;
}

.work-title.active {
    border: 1px solid #18cfab;
    color: #18cfab;
    background-color: #f8fcfe;
}

.our-work-container {
    width: 1160px;
    display: grid;
    grid-template-rows: repeat(3, 206px);
    grid-template-columns: repeat(4, 284px);
    margin-top: 70px;
}

.our-work-img-front {
    position: relative;
    transition: 1s;
}

.our-work-img-front img {
    transition: 1s;
}

.our-work-img-back {
    height: 206px;
    width: 285px;
    background-color: #e9edef;
    border-top: 3px solid #18cfab;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: rotateY(180deg);
    transition: 1s;
}

.our-work-img-back h3 {
    color: #18cfab;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-work-img-back p {
    font-size: 13px;
    color: #8a8a8a;
    text-transform: capitalize;
    text-align: center;
    margin-top: 13px;
}

.our-work-img-back::before {
    display: flex;
    justify-content: center;
    content: url(../images/icon.png);
    margin: 45px auto;
    z-index: -2;
}

.clicked img {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.clicked .our-work-img-back {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: 1s;
    z-index: 2;
}

.our-work-content {
    perspective: 1000px;
}

.inactive-btn {
    display: none;
}

.load {
    margin: 0 40px;
}

.load i {
    margin-right: 10px;
}

.work-example .button-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}


/* -----Breacking News----- */

.news-container {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.post {
    color: #717171;
    margin-bottom: 42px;
    text-decoration: none;
}

.post:hover .date {
    background-color: #18cfab;
}

.post:hover h3 {
    color: #18cfab;
}

.post-image {
    height: 208px;
    width: 263px;
}

.date {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: #203e38;
    color: #ffffff;
    transition: 0.5s;
}

.post h3 {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px 20px 0;
    transition: 0.5s;
}

.comments {
    padding: 0 20px;
}

.autor {
    border-right: 1px solid #717171;
    padding: 0 20px;
}

.post-footer {
    display: flex;
    margin: 10px 0;
}


/* -----What People Say----- */

.testimonial {
    background-image: url(../images/Sections-background/section-3.jpg);
    background-position: 0 65%;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.testimonial h2 {
    color: #ffffff;
}

.testimonial::before {
    content: "";
    background-color: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.comment {
    color: #bbbbbb;
    text-align: center;
    width: 1160px;
    margin: 35px auto;
}

.comment::before {
    content: url(../images/quotes.png);
    display: block;
    position: relative;
    top: -10px;
    margin-bottom: 25px;
}

.name {
    color: #18cfab;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.position {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.avatar {
    text-align: center;
    margin: 35px auto;
}

.avatar img {
    width: 140px;
    height: 140px;
    border: 6px solid rgba(24, 207, 171, 0.2);
    border-radius: 50%;
}

.people-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 60px;
    grid-gap: 40px;
    justify-content: center;
    padding-bottom: 70px;
}

.people {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 60px;
    grid-gap: 40px;
    justify-content: center;
}

.people div {
    border: 3px solid rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;
    cursor: pointer;
}

.people div:hover {
    transform: scale(1.1) translate(0, -15%);
    transition: ease-out 0.5s;
}

.chosen {
    transform: scale(1.1) translate(0, -15%);
    transition: ease-out 0.5s;
}

.person1 {
    background-image: url(../images/people/person1.png);
}

.person2 {
    background-image: url(../images/people/person2.png);
}

.person3 {
    background-image: url(../images/people/person3.png);
}

.person4 {
    background-image: url(../images/people/person4.png);
}

.move {
    width: 30px;
    height: 30px;
    color: #bbbbbb;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    font-size: 20px;
    text-align: center;
    align-self: center;
}

.move:hover {
    color: #ffffff;
    background-color: #18cfab;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #aeaeae;
    font-size: 14px;
    background-color: #22353f;
    height: 120px;
    /* min-width: 1160px; */
    /* width: 100%; */
}

footer a {
    text-decoration: none;
    color: #18cfab;
    cursor: pointer;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    text-align: center;
}