.image-to-show {
    width: 450px;
    height: 220px;
    display: none;
}

.active {
    display: block;
}

.images-wrapper {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 20px auto;
    box-shadow: 3px 3px 13px #3a3a3a;
}

.button {
    margin: 20px;
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.timer {
    text-align: center;
    font-size: 42px;
    margin: 20px;
}