.inner-menu {
    position: absolute;
    display: flex;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 13px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px -1px 3px #353a3d inset;
    z-index: 5;
}

.inner-menu__item {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
}

.inner-menu__item:hover {
    color: #14b9d5;
}

#scroll-btn {
    position: fixed;
    top: 85%;
    right: 27px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #14b9d5;
    padding: 5px;
    font-size: 27px;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px -1px 3px #353a3d inset;
    transition: 0.5s;
    display: none;
}

#scroll-btn.show {
    display: block;
}

.dark #scroll-btn {
    color: #ffffff;
}

.dark .inner-menu {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark .inner-menu__item {
    color: #aaaaaa;
}

.dark .inner-menu__item:hover {
    color: #ffffff;
}

.hide-btn {
    position: relative;
    width: 78px;
    left: calc(50% - 39px);
    top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 5px;
    text-transform: capitalize;
    font-size: 19px;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px -1px 3px #353a3d inset;
    transition: 0.5s;
}