#container {
    position: relative;
    min-height: 160px;
    margin: 30px;
}

#price {
    margin: 15px;
}

#price:focus {
    color: black;
    border: 2px solid green;
    border-radius: 2px;
}

.correct {
    color: green;
}

.invalid {
    color: black;
    border: 2px solid red;
    border-radius: 2px;
}

.selected-price {
    display: flex;
    position: absolute;
    top: -20px;
    left: -15px;
}

.active {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 5px 0 15px;
}

.button {
    width: 18px;
    height: 18px;
    background-image: url(../images/times-circle-regular.svg);
    background-position: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 75, 0, 0.4);
    border-radius: 50%;
}